body {
    background-color: #ffeedf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 62px;
    padding-top: 17.5em;
}

div {
    width: 290px;
    height: 416px;
    background-color: #fff;
    margin-bottom: 10px;
}

h2 {
    color: #33793f;
    font-size: 48px;
    font-weight: normal;
    font-family: 'EB Garamond', serif;
    padding-left: 10%;
    padding-top: 7%;
    margin: 0;
}

h6 {
    color: #999;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    letter-spacing: 0.1em;
    padding-left: 10%;
    padding-top: 4%;
    margin: 0;
}

p {
    color: #999;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    padding-left: 10%;
    padding-top: 10%;
    margin: 0;
}

@media only screen and (max-width: 1010px) {
    body {
        flex-direction: column;
        padding: 27px;
    }

}